[v-cloak] {
  display: none
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

div::-webkit-scrollbar, 
main::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-track, 
main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgba(227, 75, 20, 0.6); 
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}

div::-webkit-scrollbar-thumb:window-inactive,
main::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(227, 75, 20, 0.5); 
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.table tr:hover {
  background-color: transparent !important
}

.table td, .table th {
  vertical-align: middle;
  font-size: 0.93rem
}

.tabs.is-small {
  font-size: 0.80rem
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  height: calc(100vh - 60px);
  padding-top: 20px
}

.box {
  border-radius: 0px;
  padding: 0rem
}

.card-content {
  padding: 0.90rem 1rem
}

.menu-list a.is-active {
  background-color: #fff;
  color: #363636;
  border-radius: 0px
}

.el-menu--horizontal {
  border-right: none;
  border-bottom: none;
}